body {
    background-color: tan;
}

.container {
    background-image: url('../img/burger.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*background-position: center;*/
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-top: 25vh;
}

.devoured {
    color: lightgray;
    text-decoration: line-through;
}

.devouredBy {
    color: black;
    border-radius: 10px;
}